/* Reset and common CSS */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 150px auto;
  padding: 50px;
}

div.container div.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

button {
  padding: 15px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  text-align: center;
  font-weight: 700;
  color: skyblue;
  background-color: #333;
  cursor: pointer;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: +1;
  border: none;
  overflow: hidden;
}

button:hover {
  color: #333;
}

/* End Of Reset and common CSS */
/* Button-1 */
button.button1::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -180px;
  background-color: skyblue;
  z-index: -1;
  transition: all 0.7s;
}

button.button1:hover::before {
  left: 0;
}

/* End Button-1 */

/* Button-2 */
button.button2::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: skyblue;
  bottom: -40px;
  left: -40px;
  z-index: -1;
  transition: all 0.7s;
}

button.button2:hover::before {
  width: 200%;
  height: 250%;
}

/* End Of Button-2 */

/* Button-3 */
button.button3::before {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: skyblue;
  bottom: -40px;
  left: -40px;
  z-index: -1;
  transition: all 0.7s;
}

button.button3:hover::before {
  width: 200%;
  height: 250%;
}

button.button3::after {
  content: " ";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: skyblue;
  bottom: -40px;
  right: -40px;
  z-index: -1;
  transition: all 0.7s;
}

button.button3:hover::after {
  width: 200%;
  height: 250%;
}

/* End Of Button-3 */

/* Button-4 */
button.button4::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: skyblue;
  top: 0;
  left: -178px;
  z-index: -1;
  transition: all 0.7s;
}

button.button4:hover::before {
  left: 0;
}

button.button4::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: pink;
  bottom: 0;
  left: 178px;
  z-index: -1;
  transition: all 0.7s;
}

button.button4:hover::after {
  left: 0;
}

/* End Of Button-4 */

/* button-5 */
button.button5::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: skyblue;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(50deg);
  transition: all 0.7s;
}

button.button5:hover::before {
  height: 350%;
}

/* End Of button-5 */

/* button-6 */
button.button6::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: skyblue;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(-50deg);
  transition: all 0.7s;
}

button.button6:hover::before {
  height: 350%;
}

/* End Of button-6 */

/* button-7 */
button.button7::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: skyblue;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(100deg);
  transition: all 0.7s;
}

button.button7:hover::before {
  height: 380%;
}

/* End Of button-7 */

/* button-8 */
button.button8::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: skyblue;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}

button.button8:hover::before {
  height: 350%;
}

/* End Of button-8 */

/* button-9 */
button.button9::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 0;
  background-color: skyblue;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 0.7s;
}

button.button9:hover::before {
  height: 380%;
}

/* End Of button-9 */

/* button-10 */
button.button10:hover {
  color: white;
}

button.button10::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: transparent;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: skyblue;
  box-sizing: border-box;
  transition: 1s;
}

button.button10:hover::before {
  width: 100%;
}

button.button10::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 100%;
  background-color: transparent;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: skyblue;
  box-sizing: border-box;
  transition: 1s;
}

button.button10:hover::after {
  height: 100%;
}

/* End Of button-10 */

/* button-11 */
button.button11:hover {
  color: #333;
  background-color: #FFF;
  box-shadow: none;
}

button.button11::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: -10%;
  height: 100%;
  width: 0;
  background-color: transparent;
  border-width: 2px 0 2px 0;
  border-style: solid;
  border-color: skyblue;
  box-sizing: border-box;
  transition: 1s;
}

button.button11:hover::before {
  width: 120%;
}

button.button11::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: -20%;
  left: 0;
  height: 0;
  width: 100%;
  background-color: transparent;
  border-width: 0 2px 0 2px;
  border-style: solid;
  border-color: skyblue;
  box-sizing: border-box;
  transition: 1s;
}

button.button11:hover::after {
  height: 140%;
}

/* End Of button-11 */

/* button-12 */

button.button12:hover {
  color: #FFF;
}

button.button12::before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s;
  background-color: skyblue;
}

button.button12:hover::before {
  left: 100%;
}

button.button12::after {
  content: "";
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -100%;
  transition: 1s;
  background-color: pink;
}

button.button12:hover::after {
  right: 100%;
}

/* end Of button-12 */

/* Button-13 */
button.button13 {
  outline: 2px solid skyblue;
  transition: 0.7s;
}

button.button13:hover {
  background-color: white;
  outline-offset: 15px;
  border: 1px solid skyblue;
  box-shadow: inset 0 0 15px 3px skyblue;
}

/* End Of button-13 */

/* Button-14 */
button.button14:hover {
  background-color: white;
  border: 1px solid skyblue;
  box-shadow: 0 0 1px 5px skyblue, 0 0 1px 15px rgb(91, 168, 198), 0 0 1px 25px rgb(48, 125, 156), inset 0 0 15px 3px rgb(31, 95, 120);
  transition: all 0.7s;
}

/* End Of Button-14 */

/* button-15 */

button.button15:hover {
  color: white;
}

button.button15::before {
  content: "";
  z-index: -1;
  position: absolute;
  right: -50px;
  top: 50px;
  width: 300px;
  height: 300px;
  border-radius: 25%;
  background-color: white;
  animation: wave 5s infinite;
  transition: 2s;
}

button.button15:hover::before {
  background-color: skyblue;
  top: 10px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* End Of button-15 */